# MongoDB Connection String
# Replace with your MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://dmn7146:Daniyal@mri.pd9sglm.mongodb.net/brain_analysis?retryWrites=true&w=majority&appName=MRI
